<h1>All lists</h1>
<p><% @lists.each do |list| %></p>
    <li><%= link_to list.name, list_path(list) %>
    <br>
  <% end %>
  <br>
<%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
</ul>
<br>
<%= cl_image_tag("dev76hbgyseemm8n6pkw",
      width: 400, height: 300, crop: :fill) %>
